<div id="<%= dom_id visit %>">
  <p>
    <strong>Name:</strong>
    <%= visit.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= visit.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= visit.location %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= visit.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= visit.time.strftime("%l:%M %P") %>
  </p>

</div>
